<div style="margin-top: 100px">
    <h3>About this app</h3>
</div>
<div style="margin-top: 20px">
    <p>
        This app is a quick demo showing how to make a single page app using <a target="_blank" href="https://angularjs.org/">AngularJS</a>.
    </p>
    <p>
        The following AngularJS technologies were used in this app:
        <ul>
            <li><a target="_blank" href="https://angular-ui.github.io/">AngularUI (UI-Bootstrap)</a> which provides Twitter Bootstrap written natively in AngularJS</li>
            <li><a target="_blank" href="https://github.com/angular-ui/ui-router">ui-router</a> which provides flexible routing and deep linking</li>
            <li><a target="_blank" href="https://docs.angularjs.org/api/ngResource">ngResource</a> which provides interaction support with RESTful services</li>
            <li><a target="_blank" href="https://docs.angularjs.org/api/ngAnimate">ngAnimate</a> which provides support for JavaScript, CSS3 transition and CSS3 keyframe animation</li>
            <li><a target="_blank" href="https://jasmine.github.io/">Jasmine</a> which is a behavior-driven development framework for testing JavaScript code.</li>
        </ul>
    </p>
</div>
